//main: ../app.less

.gotcha {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid {
  .grid-sizer,
  .grid-item {
    width: calc(~"50% - 10px");
    display: block;
  }
  .grid-item {
    margin-bottom: 20px;
    min-height: 20px;
    background-color: @pale;
    &.width2 { width: 100%; }
    &.encart {
      text-align: center;
      h3 {
        color: @font-color;
      }
    }
  }

  .gutter-sizer { width: 20px; }

}

@media screen and (min-width: @screen-s) {
  .grid {
    .grid-sizer,
    .grid-item {
      width: calc(~"32.9% - 10px");
      &.width2 {
        width: calc(~"67.1% - 10px");
      }
    }
  }
}

@media screen and (min-width: @screen-m) {
  .grid {
    .grid-sizer,
    .grid-item {
      width: calc(~"25.3% - 20px");
      &.width2 {
        width: calc(~"50% - 10px");
      }
    }
  }
}
