//main: ../app.less

@background-color: @white;
@font-color: @black;
@accent-color: @red;

@border-color: @red;
@muted-font-color: @dark-grey;

// --------- GENERAL

body {
  background-color: @background-color;
  color: @muted-font-color;
}
h1, .h1,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: @accent-color;
}
a {
  color: @muted-font-color;
}
.btn {
  background-color: @accent-color;
  color: @background-color;
  text-decoration: none;
  text-align: center;
  display: block;
  @media screen and (min-width: @screen-xs) {
    display: inline-block;
  }
  &.btn-small {
    font-size: 14px;
    padding: 10px 30px;
    letter-spacing: 5px;
  }
  &.btn-large {
    font-size: 20px;
    padding: 15px 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
}
.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}
p {
  font-style: italic;
  &.cta {
    color: @black;
    text-align: center;
    font-style: normal;
    margin: 50px 30px 30px;
  }
}
.txt-center {
  text-align: center;
}
