//main: ../app.less

@red: #F03200;
@black: #000000;
@dark-grey: #333333;
@light-grey: #999999;
@white: #ffffff;

@regular: 400;
@bold: 700;

@ease: ease-in-out;

@screen-small: 768px;
@screen-medium: 1000px;
@screen-large: 1400px;
