header
  .container
    a(href="/").brand Morganne Borowczyk
    .toggle
      span
  nav.menu
    ul.links
      li
        a(href="/") Portfolio
      li
        a(target="blank_" href="http://www.mborowczyk.bigcartel.com") Shop
      li
        a(href="/about") About me
      li
        a(href="/contact") Contact
    +social(white)
