//output:../index.html, pretty:false

extend _layout.jade

block var
  - page = "Illustration & Design portfolio"
  - description = "Dark illustrations made in Lille, France. Merch for bands, CD covers, t-shirts, totebags..."
  - canonical = "https://morganneborowczyk.design/index.html"

block content
  h1 Illustrator & Designer from Lille, France
  .grid
    .grid-sizer
    .gutter-sizer
    
    //- (name, id, size, description, source, source2, source3)
    
    +grid-item("Musée des Arts Décoratifs",
      "project-mad",
      "",
      "A series of illustrations made with furniture referenced from the archives of the Musée des Arts Décoratifs (Paris).",
      "MAD-2",
      "MAD-1",
      "MAD-3")
    +grid-item("Déjeuner sur l'Herbe",
      "dejeuner",
      "",
      "Here's my take on the famous painting Déjeuner sur l'Herbe by Edouard Manet.",
      "dejeuner-sur-lherbe")
    .grid-item.encart
      h3 Like what you see?
      p
        a.btn SHop
    +grid-item("The Garden of the Witch",
      "toile-de-jouy",
      "",
      "A pattern made with a red ballpoint pen, inspired by a French medieval style of tapestry called 'toile de jouy'.",
      "toile-de-jouy")
    +grid-item("Jethro Morris",
      "jethro",
      "",
      "Album artwork for Australian artist Jethro Morris.",
      "jethro-morris__mockup")
    +grid-item("Verminoise",
      "verminoise",
      "",
      "Album artwork for Verminoise, a local music association.",
      "verminoise__pochette-avant")
    +grid-item("Holispark",
      "holispark",
      "",
      "A few merch items for the band Holispark.",
      "holispark__tshirt__cut-the-rope",
      "holispark__totebags")
    +grid-item("Balmonts",
      "balmonts",
      "",
      "EP artwork for the Canadian Lo-Fi House duo Balmonts.",
      "balmonts__mockup-front",
      "balmonts__mockup-back")
    +grid-item("Collaboration with Doomsnakes",
      "doomsnakes",
      "",
      "A collab illustration with Manchester artist Doomsnakes",
      "collab__doomsnakes")
    +grid-item("Vampires from Space",
      "vampires",
      "",
      "Vampires. From Space! Ever heard of them?",
      "vampires-from-space")
    +grid-item("Shadow of A",
      "shadow",
      "",
      "Shadow of A t-shirt (sold out)",
      "shadow-of-a")
    +grid-item("Cave",
      "cave",
      "",
      "Inspired by some caves I've visited in 2016. Brush pen on paper",
      "cave")
    +grid-item("One More Time with Feeling",
      "one-more-time",
      "",
      "A comission for the editor of One More Time with Feeling, a documentary about Nick Cave and the making of his album Skeleton Tree.",
      "one-more-time-with-feeling__an-act-of-revenge",
      "one-more-time-with-feeling__women-are-like-fucking-3d",
      "one-more-time-with-feeling__girl-in-amber")

  script(src="assets/js/masonry.pkgd.min.js")
  script(src="assets/js/imagesloaded.pkgd.min.js")

  script.
    //- Masonry
    $(document).ready(function(){var $grid = $('.grid');$grid.masonry({itemSelector: '.grid-item',columnWidth: '.grid-sizer',gutter: '.gutter-sizer',percentPosition: true,stagger: 30,transitionDuration: '0.3s'});$grid.imagesLoaded().progress( function() {$grid.masonry('layout');});});
  
  
  script.
    $('.grid-item').on('click', function(){var modalTarget = $(this).next('.modal');$(modalTarget).addClass('ready');setTimeout(function(){$(modalTarget).addClass('visible');},50);$('body').addClass('stuck');});function closeModal() {$('.modal').removeClass('visible');setTimeout(function(){$('.modal').removeClass('ready');},100);$('body').removeClass('stuck');}$('.modal .close').on('click', function(){closeModal();});$('.modal').on().click(function (event) {if(!$(event.target).closest('.modal-content').length && !$(event.target).is('.modal-content')) {closeModal();} });
    
  script#mcjs.
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/cfde0b771ac267c40b7657119/14d085ef47b1eb6420cc509cb.js");
