//output:../index.html, pretty:true

extend _layout.jade

block var
  - page = "Home"
  - description = "Morganne Borowczyk is a French designer and illustrator"

block content
  //- include _grid.jade
  .grid
    .grid-sizer
    .gutter-sizer
    //- .grid-item--width2
    
    +grid-item("project-mad","modal-project-mad", "assets/images/work/MAD-1.jpg", "Musée des Arts Décoratifs", "width2", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quam numquam earum nobis, eligendi consequuntur praesentium, repellat, hic libero labore impedit provident et reiciendis illo dignissimos aperiam officia, tempore incidunt?")
    
    +grid-item("dejeuner","modal-dejeuner", "assets/images/work/dejeuner-sur-lherbe.jpg", "Déjeuner sur l'Herbe", "", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quam numquam earum nobis, eligendi consequuntur praesentium, repellat, hic libero labore impedit provident et reiciendis illo dignissimos aperiam officia, tempore incidunt?")

    +grid-item("toile-de-jouy","modal-toile-de-jouy", "assets/images/work/toile-de-jouy.png", "Toile de Jouy", "", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quam numquam earum nobis, eligendi consequuntur praesentium, repellat, hic libero labore impedit provident et reiciendis illo dignissimos aperiam officia, tempore incidunt?")

  script(src="assets/js/masonry.pkgd.min.js")

  script.
    //- Masonry
    $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      gutter: '.gutter-sizer',
      percentPosition: true
    });
  
  
  script.
    //- Trigger modals
    $('.grid-item').on('click', function(){
      var modalTarget = $(this).attr('href');
      console.log(modalTarget);
      $(modalTarget).addClass('ready');
      setTimeout(function(){
        $(modalTarget).addClass('visible');
      },50);
      $('body').addClass('stuck');
    });
    $('.modal .close').on('click', function(){
      $(this).parents('.modal').removeClass('visible');
      setTimeout(function(){
        $('.modal').removeClass('ready');
      },100);
      $('body').removeClass('stuck');
    });
