//output:../index.html, pretty:true

extend _layout.jade

block var
  - page = "Illustration & Design portfolio"
  - description = "Gloomy illustrations made in Lille, France. Merch for bands, CD covers, t-shirts, totebags..."

block content
  h1 Illustrator & Designer from Lille, France
  .grid
    .grid-sizer
    .gutter-sizer
    
    +grid-item("Musée des Arts Décoratifs",
      "project-mad",
      "",
      "modal-project-mad",
      "MAD-2.jpg",
      "MAD-1.jpg",
      "MAD-3.jpg")
    +grid-item("Déjeuner sur l'Herbe",
      "dejeuner",
      "",
      "modal-dejeuner",
      "dejeuner-sur-lherbe.jpg")
    +grid-item("Toile de Jouy",
      "toile-de-jouy",
      "",
      "modal-toile-de-jouy",
      "toile-de-jouy.jpg")
    +grid-item("Jethro Morris",
      "jethro",
      "",
      "modal-jethro",
      "jethro-morris__mockup.jpg")
    +grid-item("Verminoise",
      "verminoise",
      "",
      "modal-verminoise",
      "verminoise__pochette-avant.jpg")
    +grid-item("Holispark",
      "holispark",
      "",
      "modal-holispark",
      "holispark__tshirt__cut-the-rope.jpg",
      "holispark__totebags.jpg")
    +grid-item("Balmonts",
      "balmonts",
      "",
      "modal-balmonts",
      "balmonts__mockup-front.jpg",
      "balmonts__mockup-back.jpg")
    +grid-item("Collaboration with Manchester (UK) artist Doomsnakes",
      "doomsnakes",
      "",
      "modal-doomsnakes",
      "collab__doomsnakes.jpg")
    +grid-item("Vampires from Space",
      "vampires",
      "",
      "modal-vampires",
      "vampires-from-space.jpg")
    +grid-item("Shadow of A",
      "shadow",
      "",
      "modal-shadow",
      "shadow-of-a.jpg")
    +grid-item("Cave",
      "cave",
      "",
      "modal-cave",
      "cave.jpg")
    +grid-item("One More Time with Feeling",
      "one-more-time",
      "",
      "modal-one-more-time",
      "one-more-time-with-feeling__an-act-of-revenge.jpg",
      "one-more-time-with-feeling__women-are-like-fucking-3d.jpg",
      "one-more-time-with-feeling__girl-in-amber.jpg")

  script(src="assets/js/masonry.pkgd.min.js")
  script(src="assets/js/imagesloaded.pkgd.min.js")

  script.
    //- Masonry
    $(document).ready(function(){
      var $grid = $('.grid');
      $grid.masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        gutter: '.gutter-sizer',
        percentPosition: true,
        stagger: 30,
        transitionDuration: '0.3s'
      });
      $grid.imagesLoaded().progress( function() {
        $grid.masonry('layout');
      });
    });
  
  
  script.
    //- Trigger modals
    $('.grid-item').on('click', function(){
      var modalTarget = $(this).attr('data-modal');
      $('body').append(modalTarget);
      setTimeout(function(){
        $('.modal').addClass('visible');
      },50);
    });
    //- Close modals
    function closeModal() {
      $('.modal').removeClass('visible');
      setTimeout(function(){
        $('.modal').remove();
      },100);
      $('body').removeClass('stuck');
    }
    //--- Click close
    $('body').on('click', '.modal .close', function(){
      console.log('close');
      closeModal();
    });
    //--- Click outside
    $('body').on('click', '.modal', function(event) {
      console.log('close');
      if(!$(event.target).closest('.modal-content').length && !$(event.target).is('.modal-content')) {
        closeModal();
      }     
    });  
    
  script#mcjs.
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/cfde0b771ac267c40b7657119/14d085ef47b1eb6420cc509cb.js");
